---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import CVIcon from "../components/icons/CV.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProjectsIcon from "../components/icons/Projects.astro";
import Projects from "../components/Projects.astro";
import ToTop from "../components/ToTop.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Portfolio de Luis Diego Carvajal - Desarrollador y Programador Web con +3 años de experiencia"
  description="En este Portfolio muestro mis proyectos, experiencia y hablo un poco sobre mi. Además, dejo acceso a mi contacto, y un boton para descargar mi curriculum vitae."
>
  <main class="px-8 md:px-6 z-10">
    <SectionContainer class="py-8 lg:py-28 pb-4 flex justify-center">
      <div
        id="personalInfoCard"
        class="p-16 rounded-2xl shadow-lg z-50 bg-white"
      >
        <img
          class="rounded-full size-20 md:size-12 mb-4"
          src="/diego.webp"
          alt="diego photo"
        />
        <div class="flex flex-col md:flex-row md:items-center mb-6">
          <h1
            class="text-gray-900 text-5xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 md:pb-0"
          >
            Diego Carvajal<a
              href="https://linkedin.com/in/luis-diego-carvajal"
              target="_blank"
              rel="noopener"
              class="flex justify-center items-center"
            >
            </a>
          </h1>
          <Badge>Disponible para trabajar</Badge>
        </div>
        <h2 class="text-xl lg:text-xl text-balance max-w-[700px] text-black">
          <span> Desarrollador y Programador Web</span>.
          <span class="text-[#f5a64b]">+3 años de experiencia</span><span>
            De Costa Rica</span
          >.
          <span>Creativo y ordenado, con muchas ganas de aprender.</span>
        </h2>

        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill
            href="/downloads/Diego-Carvajal-CV-2024-FullStack"
            download="Diego-Carvajal-CV-2024"
          >
            <CVIcon class="size-5 md:size-5" />
            CV
          </SocialPill>
          <SocialPill href="https://linkedin.com/in/luis-diego-carvajal">
            <LinkedInIcon class="size-5 md:size-5" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Diegocarque12">
            <GitHubIcon class="size-5 md:size-5" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:diegocarque1213@gmail.com">
            <MailIcon class="size-5 md:size-5" />
            diegocarque1213@gmail.com
          </SocialPill>
        </nav>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia" class="pb-4 pt-20 relative">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="pb-4 pt-20">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80"
      >
        <ProjectsIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
      <!-- <Carousel /> -->
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="pb-4 pt-20">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80"
      >
        <CodeIcon class="size-7" />
        Sobre mi
      </h2>

      <div class="flex flex-col md:flex-row md:gap-4 gap-8">
        <article class="w-full md:w-2/4 flex flex-col justify-center">
          <p class="mb-4 md:mb-2">
            Además del software, he disfrutado de diferentes <b>hobbies</b> como
            el baile latino enfocado en <b>salsa y bachata</b>. Lo que me ha
            permitido participar en algunos campeonatos como por ejemplo en el
            año 2023 con el equipo Rincón Salsero ganamos dos primeros lugares
            en el mundial de baile Euroson Latino.
          </p>
          <p class="mb-4 md:mb-2">
            Antes de eso fuí <b>voluntario de Cruz Roja Juventud</b> por 7 años,
            participando de campamentos nacionales, y aprendí mucho de primeros auxilios,
            acción social, defensa de los derechos humanos y sobre el medio ambiente.
          </p>
          <p class="mb-4 md:mb-2">
            Priorizo mantienerme activo física y mentalmente, permitiendome
            desarrollar diferentes habilidades, conocer muchas personas en
            diferentes campos y salir de mi zona de confort, ya que <b
              >encuentro y resuelvo nuevos desafíos</b
            > constatemente.
          </p>
        </article>
        <img class="w-full md:w-2/4" src="/profile.jpg" alt="carousel" />
      </div>
    </SectionContainer>
    <ToTop />
  </main>
  <Footer />
</Layout>
