---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Mayo 2024 - Actualmente",
    title: "Software Developer - TransUnion",
    description:
      "Desarrollador Frontend Semi Senior en el equipo de OneTru Core UI, investigado, documentando, desarrollando e immplementado mejoras innovadoras para el producto principal de TransUnion, utilizando tecnologías como React, StoryBook, Vue 3, TypeScript, Sass, y más. Uno de los proyectos mas interesantes y que puedo comentar, fue la creacion de un CLI que inicializaba proyectos frontend con los paquetes necesarios y con Module Federation configurado.",
    technologies: [
      "Vue 3",
      "Sass",
      "TypeScript",
      "React",
      "StoryBook",
      "Node JS",
      "Pinia",
    ],
  },
  {
    date: "Mayo 2023 - Actualmente",
    title: "Freelancer - Qora ( Fundador y Desarrollador )",
    description:
      "Diseñador y desarrollador de un SaaS de emisión de certificados VPN, desarrollé el proyecto en Angular 16 y Flowbite como UI Library. Diseñador y desarrollador de múltiples aplicaciones (Sass) internas como Dask y PrimeFit, utilizando tecnologías como React, React Native, Next.js, Jest, Strapi, Redux, Astro, y más. Actualmente (2025) sigo trabajando en proyectos con mi sello personal Qora.",
    link: "https://www.qora.dev/",
    technologies: [
      "React",
      "React Native",
      "Next.js",
      "Jest",
      "Strapi",
      "Redux",
      "Astro",
      "Flowbite",
      "Angular",
      "Sass",
      "TypeScript",
    ],
  },
  {
    date: "Mayo 2021 - Febrero 2023",
    title: "Full Stack Developer − 5e Creative Labs",
    description:
      "Responsable del noticiero La Republica colaborando con el desarrollo y mantenimiento del panel en el que se crean las noticias y la página principal, al cual le hice mejoras de un 16% el rendimiento en su página reduciendo el CSS total del proyecto de 18 mil líneas a 12 mil líneas, optimizando su carga y modularizando las clases. Desarrollo y mantenimiento de un sistema de facturación online con la API del Ministerio de Hacienda, Costa Rica.",
    technologies: [
      "HTML5",
      "CSS3",
      "React",
      "Vue.js",
      "PHP",
      "Laravel",
      "Statamic",
      "Typescript",
      "Node.js",
    ],
  },
];
---

<ol class='relative border-s border-gray-200 ml-3'>
  {
    EXPERIENCIE.map((experiencie) => (
      <li class='mb-10 ms-4'>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
